@model Stores.Models.Users

@{
    ViewBag.Title = Model.name;
}

<style>
    td.fitwidth {
        width: 1px;
        white-space: nowrap;
    }
</style>
<div class="row">
    <div class="col-md-auto text-center mb-3">

        <img src="@Url.Content(Model.PicPath)" style="max-height:295px" class="img-fluid img-thumbnail rounded " />

    </div>
    <div class="col-md text-right">
        <table class="table table-striped table-bordered " style="text-align:right">
           
            <tbody class="h5 font-weight-bold">
                <tr>
                    <td class="fitwidth">الهاتف</td>
                    <td>@Model.phone</td>
                </tr>
                <tr>
                    <td class="fitwidth">الرقم القومى</td>
                    <td>@Model.national_id</td>
                </tr>
                <tr>
                    <td class="fitwidth">الطابعه</td>
                    <td>@Model.printer_name</td>
                </tr>
                <tr>
                    <td class="fitwidth">اسم المستخدم</td>
                    <td>@Model.username</td>
                </tr>
                <tr>
                    <td class="fitwidth">كلمة المرور</td>
                    <td>@Model.Password</td>
                </tr>
                <tr>
                    <td class="fitwidth">حاله الحساب</td>
                    @{ if (@Model.active == true)
                        {
                            <td>فعال</td>
                        }
                        else
                        {

                            <td>موقوف</td>

                        }
                    }
                </tr>
            </tbody>
        </table>




    </div>
</div>


@*<div class="card text-center">

        <div class="card-body">
            <h5 class="card-title">

            </h5>



            </div>

    </div>



    <div>
        <a href="@Url.Action("index","Employee")" class="btn btn-default"><i class="fas fa-backward"></i> الرجوع</a>
    </div>*@
