@model Stores.Models.CommonClasses.UserAndPrivilage

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<center>
    <p>
        <a href="@Url.Action("NewEmployee")" class="btn btn-default"><i class="fas fa-user-plus"></i> موظف جديد</a>

    </p>


</center>

<table class="table table-hover" id="myTable" style="text-align:center">
    <thead>
        <tr class="table-heading " style="background-color:#40BCBA">

            <th></th>

            <th>
                حاله الحساب
            </th>
            <th>
                اسم الطابعه
            </th>
            <th>
                كلمه المرور
            </th>
            <th>
                التليفون
            </th>
            <th>
                الاسم
            </th>
        </tr>


     </thead>

    <tbody>
        @foreach (var item in Model.UserX)
        {
        <tr>
            <td style="width:60px">
                @foreach (var items in Model.PreviX.Where(h => h.User_ID == item.Id))
                {
                    <a href="@Url.Action("Privilage", new { id = items.id })" class="btn btn-default"><i class="fas fa-check-circle"></i> تعديل الصلاحيات</a>
                }

                <a href="@Url.Action("UserEdit", new { id = item.Id })" class="btn btn-default"><i class="fas fa-user-edit"></i>    تعديل</a>
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default"><i class="fas fa-info-circle"></i>    تفاصيل</a>


            </td>

            <td>
                @{

                    if (item.active == true)
                    {
                        <p>فعال</p>
                    }
                    else
                    {
                        <p>غير فعال</p>

                    }
                }

                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                @foreach (var items in Model.PrintTypeX.Where(p=>p.ID.ToString() == item.printer_name))
                {
                    @items.PrinterName
                }

             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>
        }
    </tbody>



</table>
    

@*<table class="table table-hover" id="myTable" style="text-align:center">
        <thead>
            <tr class="table-heading" style="background-color:#40BCBA">
            <tr>
                <th>
                    الاسم
                </th>
                <th>
                    كلمه المرور
                </th>

                <th>
                    التليفون
                </th>

                <th>
                    حاله الحساب
                </th>
                <th>
                    اسم الطابعه
                </th>
                <th></th>

            </tr>

        </thead>
        @foreach (var item in Model.UserX)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.printer_name)
                </td>

                <td style="width:60px">
                    @foreach (var items in Model.PreviX.Where(h => h.User_ID == item.Id))
                    {
                        <a href="@Url.Action("Privilage", new { id = items.id })" class="btn btn-default"><i class="fas fa-check-circle"></i> تعديل الصلاحيات</a>
                    }

                    <a href="@Url.Action("UserEdit", new { id = item.Id })" class="btn btn-default"><i class="fas fa-user-edit"></i>    تعديل</a>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default"><i class="fas fa-info-circle"></i>    تفاصيل</a>


                </td>
            </tr>
        }

    </table>*@



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <dixv class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Employee</h4>

            </dixv>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="EmployeeId">ID</label>
                        <input type="text" class="form-control" id="EmployeeID" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">username</label>
                        <input type="text" class="form-control" id="username" placeholder="username" />
                    </div>
                    <div class="form-group">
                        <label for="Age">Password</label>
                        <input type="text" class="form-control" id="Password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="State">name</label>
                        <input type="text" class="form-control" id="name" placeholder="name" />
                    </div>
                    <div class="form-group">
                        <label for="Country">phone</label>
                        <input type="password" class="form-control" id="phone" placeholder="phone" />
                    </div>
                    <div class="form-group">
                        <label for="national_id">national_id</label>
                        <input type="password" class="form-control" id="national_id" placeholder="national_id" />
                    </div>


                    <div class="form-group">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="active" name="active" value="True">   التنبيهات
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Country">printer_name</label>
                        <input type="password" class="form-control" id="printer_name" placeholder="printer_name" />
                    </div>
                    <div class="form-group">
                        <label for="Country">PicPath</label>
                        <input type="password" class="form-control" id="PicPath" placeholder="PicPath" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>









<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <input type="text" class="form-control" id="EmployeeID" placeholder="Id" disabled="disabled" />
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="username" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Password" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" placeholder="phone" />
                        </div>
                        <div class="form-group">
                            <label for="national_id"></label>

                            <input type="text" class="form-control" id="national_id" placeholder="national_id" />
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="active" name="active" value="True">   التنبيهات
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="printer_name" placeholder="printer_name" />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="PicPath" placeholder="PicPath" />
                        </div>
                        @*<div class="form-group">
                                @Html.DropDownListFor(m => m.DepartmentId, ViewBag.ListOfDepartment as SelectList, "--Select Dept--", new { @id = "DropDwn", @class = "form-control" })
                            </div>*@
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>

                            @*<a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord" onclick="mm()">Save</a>*@
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>









<script>
        //Add Data Function
    function Add() {
        //var res = validate();
        //if (res == false) {
        //    return false;
        //}
        var empObj = {
            EmployeeID: $('#EmployeeID').val(),
            username: $('#username').val(),
            Password: $('#Password').val(),
            name: $('#name').val(),
            phone: $('#phone').val(),
            national_id: $('#national_id').val(),
            active: $('#active').val(),
            printer_name: $('#printer_name').val(),
            PicPath: $('#PicPath').val(),
         };
        $.ajax({
            url: "@Url.Action("newEmployee", "Employees")",

             data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    // details




    function EditStudentRecord(StudentId) {
        var url = "/Employee/GetStudentById?StudentId=" + StudentId;
        $("#ModalTitle").html("تعديل بيانات موظف");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#StuId").val(obj.EmployeeID);
                $("#username").val(obj.username);
                $("#Password").val(obj.Password);
                $("#name").val(obj.name);
                $("#phone").val(obj.phone);
                $("#national_id").val(obj.national_id);
                $("#active").val(obj.national_id);
                $("#printer_name").val(obj.printer_name);
                $("#PicPath").val(obj.PicPath);
                //$("#DropDwn option:selected").text(obj.tblDepartment.DepartmentName);
                //$("#DropDwn option:selected").val(obj.DepartmentId);

            }
        })
    }

    //save after Edit
    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Employee/SaveDataInDatabase",
            data: data,
            success: function (result) {
                //alert("Success!..");
                window.location.href = "/Employee/index";
                $("#MyModal").modal("hide");

            }
        })
    })



</script>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script>

        $(function () {

            var EditeEmp = '@TempData["EditEmp"]'

            var EditePervilage = '@TempData["editePrrivelage"]'



           if (EditeEmp != '') {

               alert(EditeEmp);
            }
           else if (EditePervilage != '') {
               alert(EditePervilage);
           }

        })

</script>



