@model Stores.Models.Users

@{
    ViewBag.Title = "موظف جديد";
}



@using (Html.BeginForm("NewEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="direction:rtl;background-color:">


            <div class="col-md-6" style="background-color:">


                <div class="form-horizontal text-right" dir="rtl" style="float:right">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.national_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.national_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.national_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.active)
                                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.printer_name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("PrinterName", ViewBag.PrintCat as SelectList, htmlAttributes: new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.printer_name, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.printer_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PicPath, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="Pic" />

                            @Html.ValidationMessageFor(model => model.PicPath, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4" style="background-color:">


                <div class="previlages d-flex align-items-start flex-column" style="float:left;display:block;">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="notifacations" name="notifacations" value="True">   التنبيهات
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="salesbill" name="salesbill" value="True">  المبيعات
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="purchasebill" name="purchasebill" value="True">  المشتريات
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="backbill" name="backbill" value="True">  المرتجع
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="categories" name="categories" value="True">  الاصناف
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="products" name="products" value="True">  المنتجات
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="expenses" name="expenses" value="True">  المصروفات
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="payment" name="payment" value="True">  المدفوعات
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="[statistics]" name="[statistics]" value="True">  الاحصائيات
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="endday" name="endday" value="True">  انهاء اليوم
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="sitting" name="sitting" value="True">  الاعدادات
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="expenses_type" name="expenses_type" value="True">  انواع المصروفات
                        </label>
                    </div>

                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="حفظ" class="btn" style="background-color:#33A2FF" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<br />
<br />

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
