@model Stores.Models.CommonClasses.ExpensesWithExten

@{
    ViewBag.Title = "المصروفات";
}



<script>

    function AddNewExpenses() {
        $("#form")[0].reset();
        $("#Client_ID").val(0);
        $("#ModalTitle").html("اضافه مصروف جديد");
        $("#ModalTitle").css("text-align:center ")
        $("#AddModel").modal();

    }

    function AddExpenses() {
        var value = $("#amount").val();
        $("#amount").prop('required', true);

        if (value != 0) {

            var data = $("#SubmitForm2").serialize();
            $.ajax({
                type: "Post",
                //for local host

                url: '@Url.Action("AddExpenses","Expenses")',
                // url: "/Expenses/AddExpenses",
                data: data,
                success: function (result) {
                    alert("تم الاضافه بنجاح!..");
                    window.location.href = "/Expenses/index";
                    $("#AddModel").modal("hide");

                }
            })
        }
    }


</script>
<center>
        <a href="#" class="btn btn-primary mb-3" onclick="AddNewExpenses()">مصروف جديد</a> <br />
</center>
<div class="table-responsive" dir="rtl">


    <table class="table table-hover table-striped table-bordered " id="myTable" style="text-align:center" dir="ltr">
        <tr class="">
            <th>
                ملاحظة
            </th>
            <th>
                التاريخ
            </th>
            <th>
                الكميه

            </th>
            <th>
                نوع المصروفات
            </th>
            <th>
                اسم الموظف
            </th>
        </tr>

        @foreach (var item in Model.ExpensesX)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.comment)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)

                </td>
                <td>

                    @foreach (var items in Model.ExpensesTypeX.Where(f => f.ExpensesType_ID == item.ExpensesType_ID))
                    {
                        @items.name
                    }
                </td>
                <td>


                    @foreach (var items in Model.UsersX.Where(f => f.Id == item.User_ID))
                    {
                        @items.name
                    }

                </td>

            </tr>
        }

    </table>
</div>



<div class="modal fade" id="AddModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @*<a href="#" class="close" data-dismiss="modal">&times;</a>*@
                <h4 id="ModalTitle">اضافه مصروف جديد</h4>
            </div>
            <div class="modal-body">
                <form id="form" style="text-align:right;direction:rtl">
                    <fieldset id="SubmitForm2">



                        <div class="form-group">
                            <select name="cat" id="section" class="form-control" required="required">
                                <option value=""> اختار نوع المصروف</option>
                                @{
                                    foreach (var item in Model.ExpensesTypeX)
                                    {
                                        <option @item.ExpensesType_ID> @item.name </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">

                            @*<label> الكميه </label>*@
                            <input type="text" name="amount" id="amount" value="" placeholder="المبلغ" class="form-control" required />
                        </div>

                        <div class="">
                            @*<label>تفاصيل </label>*@
                            <input type="text" name="comment" id="comment" value="" placeholder="ملاحظة" class="form-control" />
                        </div>


                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                <a href="#" class="btn btn-success" onclick="AddExpenses()">حفظ</a>
            </div>
        </div>
    </div>
</div>
