<!DOCTYPE html>
<html>
<head>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Gipsy - 01097154297 - fb.com/Gipsy.EG">

    <title id="titletag">@ViewBag.Title</title>
    <meta name="description" content="">
    <link rel="icon" href="" type="image/png" />
    <link rel="apple-touch-icon" href="" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://Gipsy-eg.netlify.app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">


    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    @*<link href="~/Content/sliderLayout.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />



    @*<script src="~/Content/all.min.js"></script>
        <script src="~/Content/fontawesome.js"></script>*@



    <style>
        body {
            background-image: url('/Assets/Images/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Cairo';
            background-attachment: fixed;
            background-position: center;
        }

        .hover:hover {
            box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
        }


        .shadowup {
            box-shadow: 0px -10px 25px 0px rgba(0, 0, 0, .5);
        }

        .shadowdown {
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .2);
        }

        .text-shadow {
            text-shadow: 0 0 5px #000000;
        }

        .Gridcontrol {
            min-width: 150px;
        }

        .text-pre {
            white-space: pre-wrap; /* Since CSS 2.1 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
        }

        .carousel-caption {
            right: 0px;
            left: 0px;
            opacity: .8;
        }

        .fullimg {
            height: 25vh;
            object-fit: cover;
        }

        .icon{
            width:30px!important;
        }
        .no-text-wrap {
            overflow: hidden;
            white-space: nowrap;
        }
    </style>



</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light font-weight-bold shadowdown" id="mainnavbar"
         style="transition: all 1s ease-out;">
        <div class="container-fluid">
            <a href="Index.html" class="navbar-brand font-weight-bolder">
                <img class="img-fluid animate__animated animate__swing animate__slower animate__repeat-2	2" src="/logo.png" id="logo" style="height: 40px" />
                <span class="font-weight-bolder" id="brandName">اسم المكان</span>
            </a>
            <button class="navbar-toggler navbar-toggler-left " id="menubutton" type="button" data-toggle="collapse"
                    data-target=".navbarDarkSupportedContent" aria-controls="navbar2SupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarDarkSupportedContent">
                @*<ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            @Html.ActionLinkLocalization("English", "Index", "Locales", new { lang = "en_US" }, new { @class = "nav-link" })

                        </li>
                        <li class="nav-item ">
                            @Html.ActionLinkLocalization("عربى", "Index", "Locales", new { lang = "ar_eg" }, new { @class = "nav-link" })

                        </li>

                    </ul>*@

            </div>

            <button class="navbar-toggler navbar-toggler-left slide-left  d-none d-lg-block float-right" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    @*<div class="slide-left d-none d-lg-block bg-light position-absolute" style="width:66px;right:0;z-index:99999999999;">

            <div role="separator" class="dropdown-divider pt-0 mt-0"></div>

            <div class="nav-link ">
                <i class="icon fas fa-home"></i>
            </div>
            <div role="separator" class="dropdown-divider  pb-0 mb-0"></div>
        </div>*@


    <div class="row no-gutters" dir="rtl">
        <div class="col-lg-auto shadowright bg-light" id="menu" style="padding: 0rem 1rem;">
            <div class="container px-0 mx-0">
                <nav class="collapse navbar-collapse d-lg-block navbarDarkSupportedContent font-weight-bolder text-right">

                    <div role="separator" class="dropdown-divider pt-0 mt-0"></div>
                    @Html.Partial("_LoginPartial")

                    @*<div class="nav-link slide-left d-none d-lg-block">
            <i class="icon fas fa-home"></i>
        </div>
        <div role="separator" class="dropdown-divider d-none d-lg-block "></div>*@
                    <a href='@Url.Action("index", "Payments")' class='nav-link  font-weight-bold text-right no-text-wrap'><i class="icon fas fa-file-invoice-dollar"></i>&nbsp;&nbsp;الدفعات المالية</a>
                    <div role="separator" class="dropdown-divider "></div>
                    <a href='@Url.Action("Index", "Clients")' class='nav-link  font-weight-bold text-right no-text-wrap'><i class="icon fas fa-user"></i>&nbsp;&nbsp;العملاء و الموردين</a>
                    <div role="separator" class="dropdown-divider "></div>



                    <a class="nav-link dropdown-toggle font-weight-bold text-right  no-text-wrap text-decoration-none" href="#bills" role="button" data-toggle="collapse" aria-expanded="false">
                        <i class="icon fas fa-file-invoice"></i>&nbsp;&nbsp;الفواتير&nbsp;&nbsp;
                    </a>
                    <div class="collapse " id="bills">
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("Purchases", "bills")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-file-invoice"></i>&nbsp;&nbsp;فاتورة بيع</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("BuyBill", "bills")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-file-invoice"></i>&nbsp;&nbsp;فاتورة شراء</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("ReturnBill", "Bills")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-file-invoice"></i>&nbsp;&nbsp;فاتورة مرتجع</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("PriintFatoraWithID", "bills")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-file-invoice"></i>&nbsp;&nbsp;طباعة فاتورة</a>
                    </div>

                    <div role="separator" class="dropdown-divider"></div>

                    <a class="nav-link dropdown-toggle font-weight-bold text-right  no-text-wrap text-decoration-none" href="#stores" role="button" data-toggle="collapse" aria-expanded="false">
                        <i class="icon fas fa-cubes"></i>&nbsp;&nbsp;المخازن&nbsp;&nbsp;
                    </a>
                    <div class="collapse " id="stores">
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("index", "StoreHouse")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-stream"></i>&nbsp;&nbsp;المنتجات</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("Category", "StoreHouse")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-boxes"></i>&nbsp;&nbsp;الأصناف</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("Notification", "StoreHouse")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-bell"></i>&nbsp;&nbsp;التنبيهات</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("Stores", "StoreHouse")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-warehouse"></i>&nbsp;&nbsp;المخازن</a>
                    </div>

                    <div role="separator" class="dropdown-divider"></div>


                    <a class="nav-link dropdown-toggle font-weight-bold text-right  no-text-wrap text-decoration-none" href="#expenses" role="button" data-toggle="collapse" aria-expanded="false">
                        <i class="icon fas fa-hand-holding-usd"></i>&nbsp;&nbsp;المصروفات&nbsp;&nbsp;
                    </a>
                    <div class="collapse " id="expenses">
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("index", "Expenses")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-hand-holding-usd"></i>&nbsp;&nbsp;المصروفات</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("ExpensesType", "Expenses")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-funnel-dollar"></i>&nbsp;&nbsp;انواع المصروفات</a>
                    </div>

                    <div role="separator" class="dropdown-divider"></div>

                    <a class="nav-link dropdown-toggle font-weight-bold text-right  no-text-wrap text-decoration-none" href="#report" role="button" data-toggle="collapse" aria-expanded="false">
                        <i class="icon fas fa-search"></i>&nbsp;&nbsp;التقارير&nbsp;&nbsp;
                    </a>
                    <div class="collapse " id="report">
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("EndDay", "Employee")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-hourglass-end"></i>&nbsp;&nbsp;التقرير اليومى</a>
                        <div class='dropdown-divider'></div>

                        <a href='@Url.Action("fwater", "Reports")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-file-invoice"></i>&nbsp;&nbsp;الفواتير</a>
                        <div class='dropdown-divider'></div>

                        <a href='@Url.Action("Products", "Reports")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-stream"></i>&nbsp;&nbsp;الأصناف</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("clients", "Reports")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-user"></i>&nbsp;&nbsp;العملاء و الموردين</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("expenses", "Reports")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-hand-holding-usd"></i>&nbsp;&nbsp;المصروفات</a>
                        <div class='dropdown-divider'></div>
                        <a href='@Url.Action("payments", "Reports")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-file-invoice-dollar"></i>&nbsp;&nbsp;الدفعات المالية</a>
                    </div>

                    <div role="separator" class="dropdown-divider"></div>

                        <a class="nav-link dropdown-toggle font-weight-bold text-right  no-text-wrap text-decoration-none" href="#sittings" role="button" data-toggle="collapse" aria-expanded="false">
                            <i class="icon fas fa-cog"></i>&nbsp;&nbsp;الاعدادات&nbsp;&nbsp;
                        </a>
                        <div class="collapse " id="sittings">
                            <div class='dropdown-divider'></div>
                            <a href='@Url.Action("index", "Employee")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-user-cog"></i>&nbsp;&nbsp;الموظفين</a>
                            <div class='dropdown-divider'></div>

                            <a href='@Url.Action("NewEmployee", "Employee")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-user-plus"></i>&nbsp;&nbsp;موظف جديد</a>
                            <div class='dropdown-divider'></div>
                            <a href='@Url.Action("PrintType", "Employee")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-print"></i>&nbsp;&nbsp;الطابعات</a>
                            <div class='dropdown-divider'></div>
                            <a href='@Url.Action("PlaceInfo", "Home")' class='dropdown-item text-right font-weight-bold'><i class="icon fas fa-fingerprint"></i>&nbsp;&nbsp;معلومات المكان</a>
                        </div>

                    <div role="separator" class="dropdown-divider pb-0 mb-0 "></div>

                </nav>
            </div>

        </div>
        <div class="col" id="workspace" style="min-height:100vh;">
            <div class="container-fluid  text-primary font-weight-bold  mt-3 pt-4" style="" id="masterpagecontainer">
                <div class="jumbotron shadow border border-primary font-weight-bold text-center py-4" id="masteragejumbotron">

                    <div class=" " id="">
                        <h3 class="text-center font-weight-bold">@ViewBag.Title</h3>
                        <hr />
                        @RenderBody()

                    </div>

                </div>


            </div>
        </div>
    </div>

    @*<nav class="navbar navbar-expand-lg shadow-sm  navbar-light bg-light" style="opacity:1;" id="mainnavbar">
            <div class="container-fluid">
                <a href="Index.html" class="navbar-brand font-weight-bolder">
                    <img class="img-fluid mr-2 animate__animated animate__swing animate__slower animate__repeat-2	2" src="../logo.png" id="logo" style="height: 40px" />
                    <span class="font-weight-bolder" id="brandName">اسم المكان</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" dir="rtl" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ml-auto p-0" dir="rtl">
                        @Html.Partial("_LoginPartial")
                        <li class="border"></li>

                        <li class='nav-item  '>
                        </li>
                        <li class="border"></li>
                        <li class="nav-item dropdown">

                        </li>
                        <li class="border"></li>
                        <li class='nav-item  '>
                        </li>
                        <li class="border"></li>
                        <li class="nav-item dropdown">

                        </li>
                        <li class="border"></li>
                        <li class="nav-item dropdown">

                        </li>
                        <li class="border"></li>
                        <li class="nav-item dropdown">

                        </li>
                        <li class="border"></li>
                        <li class="nav-item dropdown">

                        </li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0" dir="ltr">

                    </div>
                </div>
            </div>
        </nav>


        <div class="container-fluid  text-primary font-weight-bold  mt-3 pt-4" style="" id="masterpagecontainer">
            <div class="jumbotron shadow border border-primary font-weight-bold text-center py-4 " id="masteragejumbotron">

                <div class=" " id="">
                    <h3 class="text-center font-weight-bold">@ViewBag.Title</h3>
                    <hr />
                    <br />
                    @RenderBody()

                </div>

            </div>
        </div>*@




    <div style="position: relative; border-top: 2px solid #0094ff; opacity: .75;" class="text-dark font-weight-bold bg-light " id="message">
        <div class="container">
            <div class="row ">

                <div class="col-md-8 text-right py-5" id="placeinfo">
                    <h4 class="font-weight-bold" id="placename">اسم المكان</h4>
                    <hr />
                    عن المكان

                </div>


                <div class="col-md-4 text-right py-5">
                    <h4 class="font-weight-bold">اتصل بنا</h4>
                    <hr />
                    <a href="#" id="call" target="_blank" class="text-decoration-none">
                        <i class="fas fa-phone-square fa-3x"
                           style="color: darkslategrey;"></i>
                    </a>
                    <a href="#" id="whats" target="_blank" class="text-decoration-none">
                        <i class="fab fa-whatsapp-square fa-3x"
                           style="color: #25D366;"></i>
                    </a>
                    <a href="#" id="face" target="_blank" class="text-decoration-none">
                        <i class="fab fa-facebook-square fa-3x"
                           style="color: #3b5998;"></i>
                    </a>
                    <a href="#" id="messenger" target="_blank" class="text-decoration-none">
                        <i class="fab fa-facebook-messenger fa-3x"
                           style="color: #00C6FF;"></i>
                    </a>
                    <a href="#" id="insta" target="_blank" class="text-decoration-none">
                        <i class="fab fa-instagram-square fa-3x"
                           style="color: #3f729b ;"></i>
                    </a>

                </div>



            </div>
        </div>
    </div>




    <div class="text-center text-light p-3" style="background-color: #27498C;">
        <a href="https://fb.com/Gipsy.EG" target="_blank" class="font-weight-bold text-decoration-none text-light">Powered by Gipsy</a>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/alertify.min.js"></script>

        @Scripts.Render("~/bundles/bootstrap")*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            $(".slide-left").click(function () {
                $("#menu").animate({
                    width: "toggle",
                    opacity: "toggle"
                });
            });
            //$('.slide-left').click(function () {
            //    $("#menu").toggle("slide");
            //});
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>



<script>
    function w3_open() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
    }
</script>

