@model Stores.Models.CommonClasses.BillsWithExten

@{
    ViewBag.Title = "Purchases";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>

    // fill product dropdownlist

    $(document).ready(function () {
        $("#section").change(function () {
            var id = $(this);
            $.ajax({

                url: '/Bills/GetcategoryPro?Pro_id=' + id.val(),
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {
                    $('#pro').empty();

                    $.each(data, function (index, value) {
                        $('#pro').append('<option value="' + value.Pro_id + '">' + value.name + '</option>');
                    });
                }

            });
        });
    });

    // add client form

    function AddNewCustomer(StudentId) {
        $("#form")[0].reset();
        $("#Client_ID").val(0);
        $("#ModalTitle").html("اضافه عميل جديد");
        $("#ModalTitle").css("text-align:center ")
        $("#MyModal").modal();

    }

    // add client

    function AddClient() {
        $("#name").prop('required', true);
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",

            url: '@Url.Action("SaveClientData", "Bills")',
            data: data,
            success: function (result) {
                alert("Success!..");
                // window.location.href = "/Home/index";
                $("#MyModal").modal("hide");

            }
        })
    };

    // return value of price and cost

    $(document).ready(function () {
        $("#pro").change(function () {
            var id = $(this);
            $.ajax({

                url: '/Bills/ReturnValue?Pro_id=' + id.val(),
                 contentType: "application/json;charset=utf-8",
                dataType: "Json",
                type: 'GET',
                async: true,
                cache: false,
                success: function (data) {

                    $.each(data, function (index, value) {
                        $('#elmotwafer').val(value.Quantity);
                        $('#Price').val(value.Price);
                    });
                }


            });
        });
    });


    //return total price before discount

    $(document).ready(function () {

        $("#amount").change(function () {

            var amount = $('#amount').val();
            var price = $('#Price').val();
            var res = amount * price;

            $('#Total').val("الاجمالى : " +res);


        });
    });


    // sum  product  price for data table
    function sum(p,d) {
        
        var res = p * d;
        return res;
    }

    // return list of bills


    $(document).ready(function () {
        $('#body').ready(function () {
             $.ajax({
                 url: '/Bills/FillBills',
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var SetData = $("#SetStudentList");
                        var ss = data[i].Quantity
                      //  var amount = 4;
                        var dd = data[i].price;
                        //  var price = 3;
                        var res = dd * ss;
                        var Data = "<tr class='row_" + data[i].BillsContent_ID + "'>" +
                            "<td>" + data[i].BillsContent_ID + "</td>" +
                            "<td>" + data[i].StudentName + "</td>" +
                            "<td>" + data[i].Product_ID + "</td>" +
                            "<td>" + data[i].Quantity + "</td>" +
                            "<td>" + data[i].Price + "</td>" +
                            //"<td>" + data[i].Status + "</td>" +
                            "<td>" + sum(data[i].Price, data[i].Quantity) + "</td>" +
                            "<td>" + "<a href='#' class='btn btn-warning' onclick='EditBillRecord(" + data[i].BillsContent_ID+")' ><span class='glyphicon glyphicon-edit'></span> تعديل</a>" + "</td>" +
                            "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + data[i].BillsContent_ID + ")'><span class='glyphicon glyphicon-trash'></span> حذف</a>" + "</td>" +
                            "</tr>";
                        SetData.append(Data);
                        $("#LoadingStatus").html(" ");
                    }
                }

            });
        });
    });



    //Show The Popup Modal For Edit Student Record

    function EditBillRecord(BillsContent_ID) {
       var url = "/Bills/GetBillById?BillsContent_ID=" + BillsContent_ID;
        $("#ModalTitle").html("Update Student Record");
        $("#EditModel").modal();
        $.ajax({
            type: "GET",
            url: url,
             success: function (data) {
                var obj = JSON.parse(data);
                $("#BillsContent_ID").val(obj.BillsContent_ID);
                $("#Quantity").val(obj.Quantity);
                 $("#Cost").val(obj.Cost);
                 $("#price").val(obj.Price);
                $("#Status").val(obj.Status);
                $("#Product_ID").val(obj.Product_ID);
                $("#Bill_ID").val(obj.Bill_ID);


            }
        })
    }

// fatora gdeda
    function ss() {
        alert("فاتوره جديده وعميل جديد");
    }


    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (BillsContent_ID) {
        $("#BillsContent_ID").val(BillsContent_ID);
        $("#DeleteConfirmation").modal("show");
    }
    // delete row
    var ConfirmDelete = function () {
        var BillsContent_ID = $("#BillsContent_ID").val();
        $.ajax({
            type: "POST",
            url: "/Bills/DeleteContentRecord?BillsContent_ID=" + BillsContent_ID,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + BillsContent_ID).remove();
            }
        })
    }



    // return fatora num
    $(document).ready(function () {
        $.ajax({
            url: '/Bills/returnLastid',
            contentType: "application/json;charset=utf-8",
            dataType: "Json",
            type: 'GET',
            success: function (data) {
                $('#fatoraID').val(data);
                //$('#Price').val(value.Price);
            }
        });


    });

    // return total of fatora
    $(document).ready(function () {
    var res = 0;
    var finalres = 0;
        $('#body').ready(function () {
           
            $.ajax({
                url: '/Bills/FillBills',
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {
                
                    for (var i = 0; i < data.length; i++) {
                        res = data[i].Quantity * data[i].Price;
                        finalres += res;
                    }
                    $('#totalFatora').val(finalres);
                 }
             });
        });
    });


        // return total after discount
    $(document).ready(function () {
        $("#Discount").change(function () {

            var totaFatora = $('#totalFatora').val();
            var dicount = $('#Discount').val()
            $('#AfterDiscount').val(totaFatora - dicount)
            //alert(lll)

        });
    });


    // el baqy
    $(document).ready(function () {
        $("#elmodfoa").change(function () {

            var AfterDiscount = $('#AfterDiscount').val();
            var elmodfoa = $('#elmodfoa').val()
            $('#Elbaqy').val(AfterDiscount - elmodfoa)
            //alert(lll)

        });
    });

 


</script>




<center>
    <a href="#" class="btn btn-info" onclick="AddNewCustomer(0)">اضافه عميل</a> <br /><br />
</center>

<div class="container">
    @using (Html.BeginForm("AddBillsContent", "Bills", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="fatora">

                    <fieldset id="SubmitForm">
                        <table style="text-align:center">
                            <thead>
                                <tr>
                                    <th>
                                        أختر النوع
                                    </th>
                                    <th>
                                        أختر المنتج
                                    </th>
                                    <th>
                                        الكميه
                                    </th>
                                    <th>
                                        سعر القطعه
                                    </th>
                                    <th>
                                        المتوفر
                                    </th>
                                    <th>
                                        اسم العميل
                                    </th>
                                    <th>
                                        الاجمالى
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select name="Cat" id="section" class="form-control">
                                            <option> اختار المنتج</option>
                                            @{
                                                foreach (var item in Model.prodCategoryX)
                                                {
                                                    <option @item.Cate_ID> @item.name </option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select name="pro" id="pro" class="form-control">
                                            <option> اختار المنتج</option>
                                            @{

                                            }
                                        </select>
                                    </td>
                                    <td>

                                        <input type="text" name="Quantity" class="form-control" id="amount" required />

                                    </td>
                                    <td>

                                        <input type="text" name="Price" class="form-control" id="Price" required />

                                    </td>
                                    <td>
                                        <input type="text" name="elmotwafer" class="form-control" id="elmotwafer" disabled />


                                    </td>
                                    <td>
                                        <select name="ClientList" id="ClientList" class="form-control" required>
                                            <option>اسم العميل</option>
                                            @{
                                                foreach (var item in Model.ClientsX)
                                                {
                                                    <option @item.Client_ID> @item.name </option>
                                                }
                                            }
                                        </select>



                                    </td>
                                    <td>

                                        <input type="text" name="Total" class="form-control" id="Total" disabled />

                                    </td>
                                    @*<td>
                                            <input type="checkbox" class="form-control" id="Status" name="Status" disabled value="true" />

                                        </td>*@

                                </tr>

                            </tbody>

                        </table>


                    </fieldset>
                    <br />




                </div>


            </div>


        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="fatora">

                    <fieldset id="SubmitForm">
                        <table style="text-align:center">
                            <thead>
                                <tr>
                                    <th>
                                        رقم الفاتوره
                                    </th>

                                    <th>
                                        اجمالى الفاتوره
                                    </th>

                                    <th>
                                        الخصم الفاتوره
                                    </th>

                                    <th>
                                        السعر بعد الخصم الفاتوره
                                    </th>

                                    <th>
                                        المدفوع
                                    </th>
                                    <th>
                                        الباقى
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" name="fatoraID" class="form-control" id="fatoraID" disabled />

                                    </td>
                                    <td>
                                        <input type="text" name="totalFatora" class="form-control" id="totalFatora" disabled />

                                    </td>
                                    <td>
                                        <input type="text" name="Discount" class="form-control" id="Discount" required  />

                                    </td>
                                    <td>
                                        <input type="text" name="AfterDiscount" class="form-control" id="AfterDiscount" disabled />

                                    </td>
                                    <td>
                                        <input type="text" name="elmodfoa" class="form-control" id="elmodfoa"  />

                                    </td>
                                    <td>
                                        <input type="text" name="Elbaqy" class="form-control" id="Elbaqy" disabled />

                                    </td>   
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>



                </div>
            </div>
        </div>
        <br />
        <center>
            @*<input type="text" name="Total" class="form-control" id="Total" disabled />*@
            <br />
            <input type="submit" value="اضافه" class="btn btn-info" />

            @Html.ActionLink("فاتوره جديده", "NewFatora", "Bills", null, new { @class = "btn btn-info", onclick = "ss();" })
             <a href="#" class="btn btn-info" onclick=""> حفظ وطباعه</a>


        </center>

    }


    <br />
    <table class="table table-striped" style="text-align:center">
        <thead>
            <tr>
                <th>رقم الفاتوره</th>
                <th>اسم العميل </th>
                <th>المنتج</th>

                <th>عدد القطع</th>
                <th>سعر القطعه</th>
                <th>الاجمالى</th>
                <th>(تعديل)</th>
                <th>(حذف)</th>
            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>
    <center>
        <a href="#" class="btn btn-info" onclick="AddNewCustomer(0)">طباعه</a>
    </center>
</div>
@*for new customer*@

<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-group">
                            <label>اسم العميل</label>

                            <input type="text" name="name" id="name" value="" placeholder="اسم العميل" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>رقم التليفون</label>
                            <input type="text" name="phone" id="phone" value="" placeholder=" رقم التليفون" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>العنوان</label>
                            <input type="text" name="Address" id="Address" value="" placeholder="العنوان" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>رقم البطاقه</label>
                            <input type="text" name="nationalID" id="nationalID" value="" placeholder="رقم قومى" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>الحاله</label>
                            <input type="checkbox" name="Active" id="Active" value="true" placeholder="الحاله" class="" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-block btn-info" onclick="AddClient()" id="SaveRecord" value="اضافه">اضافه</button>
                            @*<input type="submit" class="btn btn-block btn-info" onclick="AddClient()" id="SaveRecord" value="اضافه" />*@
                            @*<a href="#" class="btn btn-block btn-info" onclick="AddClient()" id="SaveRecord">Save</a>*@
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">تعديل الفاتوره</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div class="form-group">
                            <label>رقم الفاتوره</label>

                            <input type="text" name="BillsContent_ID" id="BillsContent_ID" value="" class="form-control" disabled />
                        </div>

                        <div class="form-group">
                            <label>اسم المنتج</label>
                            <input type="text" name="Product_ID" id="Product_ID" value="true" class="form-control" disabled />
                        </div>

                        <div class="form-group">
                            <label>الكميه</label>
                            <input type="text" name="Quantity" id="Quantity" value="" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>سعر القطعه</label>
                            <input type="text" name="price" id="price" value="" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label>التكلفه</label>
                            <input type="text" name="Cost" id="Cost" value="" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>الحاله</label>
                            <input type="checkbox" name="Status" id="Status" value="true" class="" />
                        </div>

                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-info" onclick="saveEditRecord()" id="SaveRecord">Save</a>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




@*Create A PopUp Modal For DeleteConfirmation*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>حذف هذا المنتج</h4>
            </div>
            <div class="modal-body">
                <h4>متأكد من الحذف ؟.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>
