@model  Stores.Models.CommonClasses.BillsWithExten

<br />
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@*@using (Ajax.BeginForm("Search", "Bills", new AjaxOptions()
    {
        UpdateTargetId = "searchID",
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace

    }))*@
@using (Html.BeginForm("Search", "Bills"))

{
    <div class="container">
        <div class="form-group">
            <div class="input-group" style="text-align:center;direction:rtl">

                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i> </span>
                <input type="text" id="BIll_ID" name="BIll_ID" placeholder="بحث سريع " class="form-control" />
                <input type="submit" value="search" class="btn btn-danger" />
            </div>

        </div>

    </div>
}
<br />

<div class="searchID" id="searchID">


    <table class="table table-bordered " id="myTable">

        @foreach (var item in Model.billsX)
        {
            <tr>
                <td colspan="5">

                    <div class="card text-center" style="border:3px solid #000">
                        <div class="card-header">
                            رقم الفاتوره :      @Html.DisplayFor(modelItem => item.Id)
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                الاجمالى  @Html.DisplayFor(modelItem => item.price)

                            </h5>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.date) التاريخ
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            البضائع
                        </div>
                    </div>
                </td>
            </tr>




            <tr class="table-heading " style="background-color:#40BCBA">

                @*<th>رقم الوصل</th>*@
                <th style="text-align:center"> رقم المنتج  </th>
                <th style="text-align:center">المنتج </th>

                <th style="text-align:center"> السعر  </th>
                <th style="text-align:center">  الكميه </th>


                <th style="text-align:center">الاجمالى : </th>


            </tr>
            foreach (var items in Model.billCOntentX.Where(f => f.Bill_ID == item.Id))
            {

                <tr style="background-color:white; text-align:center">

                    <td>

                        @Html.DisplayFor(modelItem => items.BillsContent_ID)


                    </td>
                    <td>
                        @foreach (var itemX in Model.productX.Where(h => h.Pro_id == items.Product_ID))
                        {
                            @Html.DisplayFor(modelItem => itemX.name)
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.Price)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.Quantity)


                    </td>
                    <td>
                        Total

                    </td>

                </tr>

            }


        }

    </table>

</div>


@*<table class="table table-striped">
        <thead>
            <tr>
                <th> رقم الفاتوره</th>

                <th> المنتج </th>
                <th> السعر </th>
                <th> الكميه</th>
                <th> الاجمالى</th>
                <th>تعديل</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model.billCOntentX)
            {

                <tr class="search">
                    <td>@item.Bill_ID</td>

                    <td>
                        @foreach (var items in Model.productX.Where(h => h.Pro_id == item.Product_ID))
                        {
                            @items.name
                        }
                    </td>


                    <td>
                        @item.Price
                    </td>

                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        total
                    </td>



                </tr>

            }

        </tbody>
        <a href='#' class='btn btn-danger' onclick='EditBillRecord(1066)'><span class='glyphicon glyphicon-edit'></span> تعديل</a>

    </table>*@



@*for new customer*@

 





<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>



    // search
    $(document).ready(function () {

        function Contains(textOne, textTwo) {

            if (textOne.indexOf(textTwo) != -1)
                return true;

        }
        $("#search").keyup(function () {
            var searchTxt = $("#search").val().toLowerCase();
            $(".search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchTxt)) {

                    $(this).hide();
                }
                else {
                    $(this).show();

                }

            });
        });
    })


    // sum  product  price for data table
    function sum(p, d) {

        var res = p * d;
        return res;
    }



    // add

    //Show The Popup Modal For Edit Student Record

    function EditBillRecord(BillsContent_ID) {
        var url = "/Bills/EditRetrnFatora?BillsContent_ID=" + BillsContent_ID;
        $("#ModalTitle").html("Update Student Record");
        $("#EditModel").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#BillsContent_ID").val(obj.BillsContent_ID);
                $("#Quantity").val(obj.Quantity);
                $("#Cost").val(obj.Cost);
                $("#price").val(obj.Price);
                 $("#Product_ID").val(obj.Product_ID);
                $("#Bill_ID").val(obj.Bill_ID);


            }
        })
    }

</script>