@model  Stores.Models.CommonClasses.BillsWithExten


@{
    ViewBag.Title = "فاتورة مرتجع";
}
<br />
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

 
@using (Html.BeginForm("Search", "Bills"))

{
    <div class="container">
        <div class="form-group">
            <div class="input-group" style="text-align:center;direction:rtl">

                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i> </span>
                <input type="text" id="id" name="id" placeholder="بحث سريع " class="form-control" />
                <input type="submit" value="search" class="btn btn-danger" />
            </div>

        </div>

    </div>
}
<br />

<div class="searchID" id="searchID">


    <table class="table table-bordered " id="myTable">

        @foreach (var item in Model.billsX)
        {
            <tr>
                <td colspan="5">

                    <div class="card text-center" style="border:3px solid #000">
                        <div class="card-header">
                            رقم الفاتوره :      @Html.DisplayFor(modelItem => item.Id)
                       
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">
                                الاجمالى  @Html.DisplayFor(modelItem => item.price)

                            </h5>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.date) التاريخ
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            البضائع
                             <a href="#" class="btn btn-info" onclick="GOsearch(@item.Id)" style="float:right "> انشاء مرتجع</a> <br /><br />

                        </div>
                    </div>
                </td>
            </tr>




            <tr class="table-heading " style="background-color:#40BCBA">

                @*<th>رقم الوصل</th>*@
                <th style="text-align:center"> رقم المنتج  </th>
                <th style="text-align:center">المنتج </th>

                <th style="text-align:center"> السعر  </th>
                <th style="text-align:center">  الكميه </th>


                @*<th style="text-align:center">الاجمالى : </th>*@


            </tr>
            foreach (var items in Model.billCOntentX.Where(f => f.Bill_ID == item.Id))
            {

                <tr style="background-color:white; text-align:center">

                    <td>

                        @Html.DisplayFor(modelItem => items.BillsContent_ID)


                    </td>
                    <td>
                        @foreach (var itemX in Model.productX.Where(h => h.Pro_id == items.Product_ID))
                        {
                            @Html.DisplayFor(modelItem => itemX.name)
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.Price)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.Quantity)


                    </td>
                    @*<td>
                        Total

                    </td>*@

                </tr>

            }


        }

    </table>

</div>
<br />
 






<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>


  

    function GOsearch(BIll_ID) {
        window.location.href = '/bills/Search/' + BIll_ID;
    }


    // search
    $(document).ready(function () {

        function Contains(textOne, textTwo) {

            if (textOne.indexOf(textTwo) != -1)
                return true;

        }
        $("#search").keyup(function () {
            var searchTxt = $("#search").val().toLowerCase();
            $(".search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchTxt)) {

                    $(this).hide();
                }
                else {
                    $(this).show();

                }

            });
        });
    })


    // sum  product  price for data table
    function sum(p, d) {

        var res = p * d;
        return res;
    }



    // add

    //Show The Popup Modal For Edit    

    function EditBillRecord(BillsContent_ID) {
        var url = "/Bills/EditRetrnFatora?BillsContent_ID=" + BillsContent_ID;
        $("#ModalTitle").html("Update Student Record");
        $("#EditModel").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#BillsContent_ID").val(obj.BillsContent_ID);
                $("#Quantity").val(obj.Quantity);
                $("#Cost").val(obj.Cost);
                $("#price").val(obj.Price);
                $("#Product_ID").val(obj.Product_ID);
                $("#Bill_ID").val(obj.Bill_ID);


            }
        })
    }

</script>