@model Stores.Models.CommonClasses.PaymentsWithExten

@{
    ViewBag.Title = "الدفعات الماليه";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>

    // fill clientname dropdownlist

    $(document).ready(function () {
        $("#section").change(function () {
            var id = $(this);
            $.ajax({

                url: '/Payments/ClientsNames?Clients_Type_id=' + id.val(),
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                success: function (data) {
                    $('#client_id').empty();

                    $.each(data, function (index, value) {
                        $('#client_id').append('<option value="' + value.Client_ID + '">' + value.name + '</option>');
                    });
                }

            });
        });
    });


    function AddNewCustomer(StudentId) {
        $("#form")[0].reset();
        $("#Client_ID").val(0);
        $("#ModalTitle").html("اضافه دفعه ماليه");
        $("#ModalTitle").css("text-align:center ")
        $("#MyModal").modal();

    }


    // add payment

    function AddPayment() {
        var data = $("#SubmitForm2").serialize();

        $("#name").prop('required', true);
        $("#Payment_amount").prop('required', true);
        var S = $("#Payment_amount").val();
        if (S != 0) {


            $.ajax({
                type: "Post",
                url: '/Payments/SavePaymentData',
                data: data,
                success: function (result) {
                    //    window.location.href = "/Payments/index";
                    $("#MyModal").modal("hide");
                    location.reload(true);


                }
            })
        }
    };

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>
<center>
    <a href="#" class="btn btn-primary mb-3" onclick="AddNewCustomer(0)">دفعه جديده</a>

    <input class="form-control text-right mb-3" id="myInput" name="myInput" placeholder=".... بحث سريع" type="text">

</center>

<div class="table-responsive" dir="rtl">


    <table class="table table-hover table-striped table-bordered " id="myTable" style="text-align:center" dir="ltr" >
        <tr class=" ">
            <th>
                التاريخ
            </th>
            <th>
                اسم الموظف
            </th>
            <th>
                المدفوع
            </th>
            <th>
                اسم العميل او المورد
            </th>
            <th>
                رقم الفاتوره
            </th>
            @*<th></th>*@
        </tr>

        @foreach (var item in Model.PaymentX)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>


                <td>
                    @foreach (var items in Model.UsersX.Where(p => p.Id == item.user_id))
                    {
                        @items.name
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment_amount)
                </td>
                <td>
                    @foreach (var items in Model.ClientsX.Where(p => p.Client_ID == item.client_id))
                    {
                        @items.name
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fatoraID)
                </td>

            </tr>
        }

    </table>
</div>


<div class="modal fade" id="MyModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @*<a href="#" class="close" data-dismiss="modal">&times;</a>*@
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm2" class="text-right" style="direction:rtl">


                        <div class="form-group">
                            <select name="Clients_Type" id="section" class="form-control" required="required">
                                <option value=""> اختار النوع</option>
                                @{
                                    foreach (var item in Model.Clients_TypeX)
                                    {
                                        <option @item.Clients_Type_id> @item.name </option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">

                            <select name="client_id" id="client_id" class="form-control" required="required">

                                <option value=""> اختار الاسم</option>
                                @{

                                }
                            </select>

                        </div>
                        <div class="">
                            @*<label>المبلغ</label>*@
                            <input type="text" name="Payment_amount" id="Payment_amount" placeholder="المبلغ" class="form-control" required />
                        </div>


                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                <button class="btn  btn-success" onclick="AddPayment();" id="SaveRecord" value="اضافه">حفظ</button>
            </div>
        </div>
    </div>
</div>
